.text-one-stop {
    font-size: 40px;
    line-height: 6rem;
    font-weight: 500;
  }
  
  @media (min-width: 200px) and (max-width: 320px) {
    .text-one-stop {
      font-size: 21px;
      line-height: 4rem;
      font-weight: 500;
      margin-top: 5rem;
    }
  }
  
  @media (min-width: 321px) and (max-width: 375px) {
    .text-one-stop {
      font-size: 28px;
      padding: 0;
      line-height: 4rem;
      margin-top: 5rem;
    }
  }
  
  @media (min-width: 374px) and (max-width: 425px) {
    .text-one-stop {
      font-size: 28px;
      padding: 0;
      line-height: 4rem;
      margin-top: 3rem;
    }
  }
  
  @media (min-width: 426px) and (max-width: 525px) {
    .text-one-stop {
      font-size: 28px;
      padding: 0;
      line-height: 4rem;
      margin-top: 5rem;
    }
  }
  
  .card-title,
  .footer_mobile_cta ul li a {
    color: #fff !important;
  }
  
  .card__meta li,
  .card__meta.card__meta--last {
    margin-bottom: 0;
  }
  
  .footer_mobile_cta ul li {
    float: left;
    font-weight: 600;
    font-size: 12px !important;
    width: 25%;
    height: 80px;
    border-left: 1px solid #fff;
  }
  
  .pt-5rem {
    padding-top: 5rem;
  }
  
  iframe {
    border: none;
    border-radius: 20px;
  }
  
  .pt-3rem {
    padding-top: 3rem;
  }
  
  .pt-1rem {
    padding-top: 1rem;
  }
  
  .footer_mobile_cta:first-child,
  .nav-tabs {
    border: none;
  }
  
  .article {
    font-family: Raleway, sans-serif;
  }
  
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    font-size: 16px;
    color: #951942;
    border: none;
    border-bottom: 2px solid #951942;
  }
  
  .nav-tabs > li > a {
    margin-right: 0 !important;
    font-size: 16px;
    color: #a7a7a7;
    border: none;
    border-bottom: 2px solid #c9c9c9;
  }
  
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 19px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: #951942;
    font-weight: 700;
    background: #fff;
    border-radius: 50px;
    padding: 10px;
  }
  
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto;
    top: 200px;
  }
  
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
    top: 200px;
  }
  
  .img-muri {
    display: block;
    margin: auto;
    width: 300px;
  }
  
  /* 
  .container.v-align-transform.no-1 {
      height: 35vh;
      margin-top: -10rem;
      margin-bottom: 10rem;
  } */
  
  @media (min-width: 1200px) {
    .container.v-align-transform.no-1 {
      /* height: 35vh; */
      margin-top: -18rem;
      margin-bottom: 5rem;
    }
  }
  
  @media (min-width: 376px) and (max-width: 400px) {
    /* .container.v-align-transform.no-1 {
          height: 30vh;
          margin-top: 1rem;
          margin-bottom: 0rem;
      } */
  }
  
  @media (min-width: 400px) and (max-width: 430px) {
    /* .container.v-align-transform.no-1 {
          height: 30vh;
          margin-top: 1rem;
          margin-bottom: 0rem;
          display: flex;
          align-items: flex-end;
      } */
  }
  
  @media (max-width: 600px) {
    .page-swiper-slider-2 {
      min-height: 50vh;
      overflow-x: hidden;
    }
  }
  
  /* View Height Background */
  
  .image-slider.height-70 .slides li {
    min-height: 400px;
    height: 150vh;
  }
  
  @media (min-width: 300px) and (max-width: 320px) {
    .image-slider.height-70 .slides li {
      min-height: 400px;
      height: 150vh !important;
    }
  }
  
  @media (min-width: 321px) and (max-width: 375px) {
    .image-slider.height-70 .slides li {
      min-height: 400px;
      height: 105vh !important;
    }
  
    /* .container.v-align-transform.no-1 {
          height: 30vh;
          margin-top: 1rem;
          margin-bottom: 0rem;
          display: flex;
          align-content: space-between;
          align-items: flex-end;
      } */
  }
  
  @media (min-width: 376px) and (max-width: 400px) {
    .image-slider.height-70 .slides li {
      min-height: 400px;
      height: 105vh !important;
    }
  
    /* .container.v-align-transform.no-1 {
          height: 30vh;
          margin-top: 1rem;
          margin-bottom: 0rem;
          display: flex;
          align-content: space-between;
          align-items: flex-end;
      } */
  }
  
  @media (min-width: 400px) and (max-width: 500px) {
    .image-slider.height-70 .slides li {
      height: 100vh !important;
    }
  }
  
  @media (min-width: 601px) and (max-width: 991px) {
    .img-container-bottom {
      position: inherit !important;
      bottom: 0;
      right: 0;
    }
  
    /* .container.v-align-transform.no-1 {
          height: 35vh;
          margin-top: -5rem;
          margin-bottom: 3rem;
      } */
  
    .image-slider.height-70 .slides li {
      height: 100vh !important;
    }
  }
  
  /* tablet mode */
  @media (min-width: 700px) and (max-width: 800px) {
    .container.v-align-transform.no-1 {
      height: 50vh;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
  
  @media (min-width: 800px) and (max-width: 900px) {
    .container.v-align-transform.no-1 {
      height: 50vh;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
  
  @media (min-width: 900px) and (max-width: 1000px) {
    .container.v-align-transform.no-1 {
      height: 50vh;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
  
  @media (min-width: 1000px) and (max-width: 1200px) {
    .container.v-align-transform.no-1 {
      height: 50vh;
      margin-top: -5rem;
      margin-bottom: -3rem;
    }
  }
  
  .page-swiper-slider-2 {
    min-height: 75vh;
    overflow-x: hidden;
  }
  
  #ourService .card {
    overflow: hidden;
    height: 350px;
    border-radius: 10px;
  }
  
  @media (max-width: 600px) {
    #ourService .card {
      overflow: hidden;
      height: 400px;
      margin: 20px;
      border-radius: 10px;
    }
  
    .card-hover-up:hover {
      -webkit-transform: scale(1) !important;
      transform: scale(1) !important;
    }
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eaedf2;
    border-radius: 0.3rem;
  }
  
  .card-title {
    font-size: 22.8px !important;
    line-height: 40px !important;
    margin-bottom: 20px !important;
    letter-spacing: 1px;
    font-weight: 600;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 20px -1px rgb(41 35 88 / 15%) !important;
  }
  
  .card-hover-up {
    box-shadow: 0 10px 20px -1px rgb(41 35 88 / 15%);
    transition: 0.3s;
  }
  
  .card-hover-up:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  
  .card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0,
      rgba(0, 0, 0, 0.2) 75%
    );
    color: #f8f9fa;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    border-radius: 10px;
  }
  
  #ourService .card .card-img-overlay-footer {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
  }
  
  @media (max-width: 600px) {
    #ourService .card .card-img-overlay-footer {
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 10px 20px;
    }
  
    .button-whatsapp {
      height: 30px !important;
      width: -webkit-fill-available !important;
      margin-left: 1rem !important;
      margin-bottom: -1.4rem;
    }
  
    .service-card-desktop {
      display: none;
    }
  }
  
  #ourService .card img {
    transform: scale(1);
    filter: brightness(1) blur(0px);
    transition: 0.5s;
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .card picture:hover {
    transform: scale(1.1);
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
  
  .card-img,
  .card-img-bottom,
  .card-img-top {
    flex-shrink: 0;
    width: 100%;
  }
  
  .btn-primary:hover {
    color: #f8f9fa;
    background-color: #81254c;
    border-color: #772246;
  }
  
  .align-items-center {
    align-items: center !important;
  }
  
  .justify-content-between {
    justify-content: space-between !important;
  }
  
  .d-flex {
    display: flex !important;
  }
  
  .btn-card {
    background-color: #951942;
    color: #fff;
    border-radius: 10px;
  }
  
  .button-whatsapp {
    height: 20px !important;
    width: 20px;
    margin-top: -1rem;
    margin-left: 1rem;
  }
  
  .swiper-service-slide {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    justify-content: center;
  }
  
  @media (min-width: 600px) {
    .service-card-mobile {
      display: none;
    }
  }
  
  .carousel {
    margin: 20px auto;
    padding: 0 30px 30px;
  }
  
  .site__info,
  .site__wrapper {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  
  .why-choice-us {
    background-color: #f5f6f8 !important;
  }
  
  .carousel-control .icon-next,
  .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    font-family: serif;
    line-height: 1;
    color: #fff;
    background: #951942;
    border-radius: 20px;
    padding: 3px;
  }
  
  #why-choice-us {
    padding-bottom: 0;
  }
  
  .why-chois-us-paragraph {
    margin-left: 5rem;
    margin-bottom: 5rem;
  }
  
  @media (max-width: 400px) {
    .why-chois-us-paragraph {
      margin-left: 1rem;
      margin-bottom: 5rem;
    }
  
    .why-chois-us-paragraph h1 {
      font-size: 26px;
      font-weight: 700;
      text-align: left;
    }
  
    .media-right h3 {
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      margin: 0;
    }
  
    .media-right p {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }
  }
  
  @media (min-width: 400px) and (max-width: 525px) {
    .why-chois-us-paragraph {
      margin-left: 1rem;
      margin-bottom: 5rem;
    }
  
    .why-chois-us-paragraph h1 {
      font-size: 26px;
      font-weight: 700;
      text-align: left;
    }
  
    .media-right h3 {
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      margin: 0;
    }
  
    .media-right p {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }
  }
  
  .why-chois-us-paragraph h1 {
    font-size: 32px;
    font-weight: 700;
  }
  
  .media-right h3 {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin: 0;
  }
  
  .media-right p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
  
  .media-left i {
    height: 40px;
    width: 40px;
  }
  
  .media-body,
  .media-left,
  .media-right {
    display: table-cell;
    vertical-align: bottom;
  }
  
  .img-container-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  @media (max-width: 600px) {
    .img-container-bottom {
      position: unset;
      bottom: 0;
      right: 0;
    }
  }
  
  .site__wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  
  .site__info {
    clear: both;
    display: block;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-align: center;
  }
  
  .grid {
    float: none;
    width: 100%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.4em;
  }
  
  @media screen and (min-width: 40.063em) {
    .grid {
      float: left;
      width: 33.333%;
    }
  }
  
  .card__image {
    border-radius: 3px;
    display: block;
    min-height: 240px;
    overflow: hidden;
    position: relative;
  }
  
  .card__image > img {
    display: block;
    margin-bottom: 0;
    transition: 0.25s ease-in-out;
  }
  
  .card__image:hover > img {
    transform: scale(1.2);
  }
  
  .card__title {
    color: #fff;
    display: inline-block;
    font-family: Montserrat;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.75em;
    text-decoration: none;
    transition: 0.3s ease-out;
  }
  
  .card__title:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }
  
  .card__overlay {
    content: "";
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .card__overlay--blue,
  .card__overlay--indigo {
    background-image: linear-gradient(
      to bottom,
      rgba(41, 182, 246, 0.1),
      #9b2a5d
    );
    z-index: 2;
  }
  
  .card__overlay-content {
    position: absolute;
    bottom: 0;
    padding: 1.5em;
    z-index: 3;
  }
  
  .card__meta {
    margin: 0 -1em 0.75em 0;
  }
  
  .card__meta li {
    color: #f8f8f8;
    display: inline;
    list-style-type: none;
    padding-right: 1em;
    font-size: 0.85em;
    font-variant: small-caps;
    letter-spacing: 1px;
  }
  
  .card__meta li:not(:last-child):after {
    content: "â—";
    font-style: normal;
    position: relative;
    color: rgba(255, 255, 255, 0.25);
    right: -0.6em;
  }
  
  .card__meta li > a {
    color: #f8f8f8;
  }
  
  /* swiper slider service */
  
  /* slider */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  
  :root {
    --font-voffice: "Montserrat", sans-serif;
    --color1: #951942;
    --color-text: #000;
  }
  
  .page-swiper-slider {
    overflow-x: clip;
    /* min-height: 100vh; */
  }
  
  .page-swiper-slider .container {
    padding: 0 2rem;
  }
  
  @media (min-width: 1024px) {
    .page-swiper-slider .container {
      padding: 0 4rem;
    }
  }
  
  .card-swipser {
    max-width: 250px;
    border-radius: 20px;
    margin: 0 auto;
    transition: box-shadow 0.25s;
    transition-timing-function: ease-in-out;
    transform: scale(0.94);
    height: 350px;
    background: #fff;
  }
  
  @media (min-width: 300px) and (max-width: 375px) {
    .card-swipser {
      max-width: 250px;
      border-radius: 20px;
      margin: 0 auto;
      transition: box-shadow 0.25s;
      transition-timing-function: ease-in-out;
      transform: scale(0.94);
      height: 330px;
      background: #fff;
    }
  }
  
  @media (min-width: 375px) and (max-width: 400px) {
    .card-swipser {
      max-width: 250px;
      border-radius: 20px;
      margin: 0 auto;
      transition: box-shadow 0.25s;
      transition-timing-function: ease-in-out;
      transform: scale(0.94);
      height: 330px;
      background: #fff;
    }
  }
  
  @media (max-width: 375px) {
    .card-text-content h6 span {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      color: #951942;
      display: -webkit-inline-box;
      text-decoration: underline;
    }
  }
  
  @media (min-width: 375px) and (max-width: 400px) {
    .card-text-content h6 span {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      color: #951942;
      display: -webkit-inline-box;
      text-decoration: underline;
    }
  }
  
  @media (min-width: 401px) and (max-width: 450px) {
    .card-text-content h6 span {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      color: #951942;
      display: -webkit-inline-box;
      text-decoration: underline;
    }
  }
  
  .card-swipser img {
    border-radius: 20px;
    display: block;
    height: auto;
    width: 150px;
    margin: auto;
    padding-top: 3rem;
  }
  
  .card-text-content a {
    display: block;
    margin: auto;
    border-radius: 10px;
    color: #fff;
  }
  
  .card-text-content h6 {
    text-align: center;
    font-size: 18px;
    color: #000;
  }
  
  .card-text-content h6 span {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #951942;
    text-decoration: underline;
  }
  
  .card-swipser .card-text-content {
    padding: 20px;
    color: #000;
  }
  
  .card-text-content h3 {
    font-family: var(--font-voffice);
    font-size: 22px;
    font-weight: bold;
    margin-top: 0rem;
    color: #000;
    text-align: center;
  }
  
  .card-text-content p {
    color: #000;
    text-align: center;
  }
  
  .list-service-swiper li {
    color: #000;
    height: 0px;
  }
  
  .swiper-slide {
    width: 265px;
  }
  
  .swiper-container {
    padding-bottom: 1rem;
  }
  
  .cards-slider {
    padding-top: 1.5rem;
  }
  
  .swiper-slide {
    transform: scale(0.94);
    transition: transform 0.25s;
  }
  
  .swiper-slide-active {
    transform: scale(1.14);
    box-shadow: -1px 9px 17px 6px rgb(149 25 66 / 60%);
    -webkit-box-shadow: -1px 9px 17px 6px rgb(149 25 66 / 60%);
    -moz-box-shadow: -1px 9px 17px 6px rgba(149, 25, 66, 0.6);
  }
  
  .swiper-slide-active .card {
    box-shadow: 0 13px 35px -16px #000;
  }
  
  .read-more {
    text-decoration: none;
    color: inherit;
    border: 1px solid #333;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }
  
  .review-google {
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
  }
  
  .review-google img {
    margin-right: 2rem;
    width: 10%;
  }
  
  @media (max-width: 600px) {
    .review-google img {
      margin-right: 2rem;
      width: 30%;
    }
  }
  
  .star-icon {
    color: #ddd;
    font-size: 2em;
    position: relative;
  }
  
  .star-icon.full:before {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    color: #fde16d;
    content: "\2605";
    /* Full star in UTF-8 */
    position: absolute;
    left: 0;
  }
  
  @-moz-document url-prefix() {
    /* Firefox Hack :( */
    .star-icon {
      font-size: 50px;
      line-height: 34px;
    }
  }
  
  .btn-review-google {
    background-color: #3d9a3d !important;
    border: 0px;
    border-radius: 10px;
  }
  
  .btn-review-google:hover {
    background-color: #3d9a3d !important;
    border: 0px solid transparent;
    border-radius: 10px;
  }
  