/* ======== General ======== */
/* .bg-secondary {
  background-color: #f8d7e2 !important;
} */
.color-secondary {
  color: #f8d7e2 !important;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.shadow-sm {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}
/* ======hero====== */
.hero-text {
  margin-top: 256px;
}

/* ======about========= */
.why .container .row {
  display: flex;
  align-items: center;
}
